.header {
    background-color: #323232;
    text-align: center;
    padding: 1rem;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__logo {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  .header__menu {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  .header__link {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  /**testing**/

@media (min-width: 768px) {
    .header__nav {
      flex-direction: row;
      justify-content: space-between;
    }
    .header__menu {
      margin-left: auto;
    }
    .header__logo {
      font-size: 2.5rem;
    }
    .header__link {
      font-size: 1.25rem;
    }
  }
  @media (min-width: 1024px) {
    .header__logo {
      font-size: 3rem;
    }
    .header__link {
      font-size: 1.5rem;
    }
  }